In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("homeprices.csv")

In [4]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [5]:
df["bedrooms"].mean()

4.2

In [6]:
df["bedrooms"] = df["bedrooms"].fillna(df["bedrooms"].mean())

In [7]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.2   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [8]:
x = df.drop("price",axis="columns")

In [10]:
x.ndim

2

In [11]:
y =df["price"]

In [13]:
y.ndim

1

In [14]:
from sklearn.linear_model import LinearRegression

In [15]:
model = LinearRegression()

In [16]:
model.fit(x,y)

LinearRegression()

In [17]:
model.predict([[3000,3,40]])

array([490833.34243748])

In [18]:
model.score(x,y)

0.9540926625396436

# verify

y = m1*x1+m2*x2+m3x3+C

In [20]:
model.coef_ #m

array([  116.66950551, 18756.28806982, -3675.75111708])

In [21]:
model.intercept_

231586.00639409182

In [22]:
y = 116.66950551 *3000+18756.28806982*3-3675.75111708*40 +231586.00639409182

In [23]:
y

490833.3424503518